@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --background: #F5F5F5;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #3CC84A;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #FFAEAE;
}

.theme-light {
  --background: #F5F5F5;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #FFAEAE;
}

.theme-dark {
  --background: #263238;
  --background-settings: #37474F;
  --text: #FFFFFF;
  --untyped: #FFFFFF;
  --svg-hover: #E0E0E0;
  --svg-click: #F5F5F5;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #614147;
}

.theme-white {
  --background: #FFFFFF;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --correct: #00FF00;
  --incorrect: #FF0000;
  --incorrect-background: #FFAEAE;
}

.theme-matrix {
  --background: #000000;
  --background-settings: #000000;
  --text: #00FF00;
  --untyped: #FFFFFF;
  --svg-hover: #6afc6a;
  --svg-click: #8dfc8d;
  --correct: #00FF00;
  --incorrect: #FF0000;
  --incorrect-background: #3a0000;
}

.theme-pastel {
  --background: #F5F5F5;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #FFAEAE;
}

* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  fill: var(--text);
}
svg:hover {
  fill: var(--svg-hover);
}
svg:active {
  fill: var(--svg-click);
}

button {
  border: none;
  cursor: pointer;
}

.button-main {
  background-color: var(--background);
}

#parent-div {
  background-color: var(--background);
  display: grid;
  place-items: center;
}
#parent-div #settings-menu {
  max-width: 40em;
  max-height: 50em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  background-color: var(--background-settings);
  border-radius: 12px;
  box-shadow: rgba(20, 20, 20, 0.2) 0px 8px 24px;
  color: var(--text);
}
#parent-div #settings-menu .bold-title {
  font-size: 1.2em;
  font-weight: 400;
}
#parent-div #settings-menu #settings-header {
  padding-bottom: 16px;
}
#parent-div #settings-menu .settings-subcontainer {
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#parent-div #settings-menu #settings-wordcount {
  display: flex;
  justify-content: space-between;
}
#parent-div #settings-menu #settings-wordcount #wordcount-list {
  display: flex;
  gap: 12px;
}
#parent-div #settings-menu #settings-wordcount #wordcount-list .wordcount-element {
  background-color: var(--background-settings);
  color: var(--text);
  cursor: pointer;
  font-size: 1.1em;
}
#parent-div #settings-menu #settings-wordcount #wordcount-list .wordcount-selected {
  color: var(--correct);
  text-decoration: underline;
}
#parent-div #settings-menu #appearance-label {
  padding-bottom: 1em;
}
#parent-div #settings-menu #themes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 8px;
}
#parent-div #settings-menu #themes-container .theme-element {
  width: 85px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  padding: 0.5em;
  padding: 15px 0;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
#parent-div #settings-menu #themes-container .solarized-font {
  font-size: 11px;
}
#parent-div #settings-menu #themes-container .theme-selected {
  border: var(--correct) solid !important;
}
#parent-div #settings-menu #themes-container #theme-light {
  color: black;
  background-color: #F5F5F5;
}
#parent-div #settings-menu #themes-container #theme-light:hover {
  background-color: #E2E2E2;
}
#parent-div #settings-menu #themes-container #theme-dark {
  color: white;
  background-color: #263238;
}
#parent-div #settings-menu #themes-container #theme-dark:hover {
  background-color: #151A1D;
}
#parent-div #settings-menu #themes-container #theme-white {
  color: black;
  background-color: white;
  border: #DFDFDF 1px solid;
}
#parent-div #settings-menu #themes-container #theme-white:hover {
  background-color: #F5F5F5;
}
#parent-div #settings-menu #themes-container #theme-matrix {
  color: #00FF00;
  background-color: black;
}
#parent-div #settings-menu #themes-container #theme-matrix:hover {
  background-color: #2B2B2B;
}
#parent-div #settings-menu #themes-container #theme-pastel {
  color: black;
  background-color: #FFF2F2;
}
#parent-div #settings-menu #themes-container #theme-pastel:hover {
  background-color: #F6D9D9;
}
#parent-div #settings-menu #themes-container #theme-nord-light {
  color: #2E3440;
  background-color: #E5E9f0;
}
#parent-div #settings-menu #themes-container #theme-nord-light:hover {
  background-color: #D8DEE9;
}
#parent-div #settings-menu #themes-container #theme-nord-dark {
  color: #ECEFF4;
  background-color: #3B4252;
}
#parent-div #settings-menu #themes-container #theme-nord-dark:hover {
  background-color: #2E3440;
}
#parent-div #settings-menu #themes-container #theme-solarized-light {
  color: black;
  background-color: #FDF6E3;
}
#parent-div #settings-menu #themes-container #theme-solarized-light:hover {
  background-color: #EEE8D5;
}
#parent-div #settings-menu #themes-container #theme-solarized-dark {
  color: white;
  background-color: #002B36;
}
#parent-div #settings-menu #themes-container #theme-solarized-dark:hover {
  background-color: #073642;
}
#parent-div #settings-menu #themes-container #theme-dracula {
  color: #BD93F9;
  background-color: #282A36;
}
#parent-div #settings-menu #themes-container #theme-dracula:hover {
  background-color: #44475A;
}
#parent-div #settings-menu #settings-button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
#parent-div #settings-menu #settings-button-container button {
  border: none;
  font-size: medium;
  border-radius: 4px;
  padding: 8px;
  color: white;
  background-color: var(--correct);
  box-shadow: rgba(149, 157, 165, 0.2) 4px 4px 12px;
}
#parent-div #settings-menu #settings-button-container button:hover {
  background-color: #3CC84A;
}
#parent-div #main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 64em;
  color: var(--text);
}
#parent-div #main-content #navbar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
#parent-div #main-content #navbar h1 {
  font-size: 1.5rem;
}
#parent-div #main-content #navbar .icons {
  display: flex;
  gap: 1.5em;
}
#parent-div #main-content #input-container {
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
  flex-grow: 1;
}
#parent-div #main-content #input-container #wpm {
  min-height: 20px;
}
#parent-div #main-content #input-container #text-container {
  max-width: 30em;
  min-height: 87px;
  user-select: none;
  font-size: 1.5em;
  color: var(--untyped);
}
#parent-div #main-content #input-container #reset-container {
  width: inherit;
  display: flex;
  flex-direction: row-reverse;
}
#parent-div #main-content #input-container #input-field {
  z-index: -99;
  opacity: 0;
  position: absolute;
}

.next-word {
  font-weight: bold;
}

.correct {
  color: var(--correct);
}

.incorrect {
  color: var(--incorrect);
  background-color: var(--incorrect-background);
}

/*# sourceMappingURL=style.css.map */
