@use './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$background: var(--background);
$background-settings: var(--background-settings);
$text: var(--text);
$hover: var(--hover);
$click: var(--click);
$correct: var(--correct);
$incorrect: var(--incorrect);
$incorrect-background: var(--incorrect-background);

* {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

svg {
    fill: $text;

    &:hover {
        fill: $hover;
    }
    &:active {
        fill: $click;
    }
}

button {
    border: none;
    cursor: pointer;
}

.button-main {
    background-color: $background;
}

#parent-div {
    background-color: $background;
    display: grid;
    place-items: center;

    #settings-menu {
        max-width: 40em;
        max-height: 50em;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 20px;
        background-color: $background-settings;
        border-radius: 12px;
        box-shadow: rgba(20, 20, 20, 0.2) 0px 8px 24px;
        color: $text;

        .bold-title {
            font-size: 1.2em;
            font-weight: 400;
        }

        #settings-header {
            padding-bottom: 16px;
        }
        
        .settings-subcontainer {
            gap: 8px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        #settings-wordcount {
            display: flex;
            justify-content: space-between;

            #wordcount-list {
                display: flex;
                gap: 12px;

                .wordcount-element {
                    background-color: $background-settings;
                    color: $text;
                    cursor: pointer;
                    font-size: 1.1em;
                }

                .wordcount-selected {
                    color: $correct;
                    text-decoration: underline;
                }
            }
        }


        #appearance-label {
            padding-bottom: 1em;
        }

        #themes-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 8px;

            .theme-element {
                width: 85px;
                height: 50px;
                font-size: 14px;
                text-align: center;
                padding: 0.5em;
                padding: 15px 0;
                border-radius: 8px;
                cursor: pointer;
                user-select: none;
            }

            .solarized-font {
                font-size: 11px;
            }

            .theme-selected {
                border: $correct solid !important;
            }

            #theme-light {
                color: black;
                background-color: #F5F5F5;
                &:hover {
                    background-color: #E2E2E2;
                }
            }
            #theme-dark {
                color: white;
                background-color: #263238;
                &:hover {
                    background-color: #151A1D;
                }
            }
            #theme-white {
                color: black;
                background-color: white;
                border: #DFDFDF 1px solid;
                &:hover {
                    background-color: #F5F5F5;
                }
            }
            #theme-matrix {
                color: white;
                background-color: black;
                &:hover {
                    background-color: #2B2B2B;
                }
            }
            #theme-pastel {
                color: black;
                background-color: #FFF2F2;
                &:hover {
                    background-color: #F6D9D9;
                }
            }
            #theme-nord-light {
                color: #2E3440;
                background-color: #E5E9f0;
                &:hover {
                    background-color: #D8DEE9;
                }
            }
            #theme-nord-dark {
                color: #ECEFF4;
                background-color: #3B4252;
                &:hover {
                    background-color: #2E3440;
                }
            }
            #theme-solarized-light {
                color: black;
                background-color: #FDF6E3;
                &:hover {
                    background-color: #EEE8D5;
                }
            }
            #theme-solarized-dark {
                color: white;
                background-color: #002B36;
                &:hover {
                    background-color: #073642;
                }
            }
            #theme-dracula {
                color: #BD93F9;
                background-color: #282A36;
                &:hover {
                    background-color: #44475A;
                }
            }
        }


        #settings-button-container {
            display: flex;
            justify-content: flex-end;
            padding-top: 16px;

            button {
                border: none;
                font-size: medium;
                border-radius: 4px;
                padding: 8px;
                color: white;
                background-color: $correct;
                box-shadow: rgba(149, 157, 165, 0.2) 4px 4px 12px;
                &:hover {
                    background-color: #3CC84A;
                }
            }
        }

    }

    #main-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        max-width: 64em;
        color: $text;
        
        #navbar {
            padding: 1em;
            display: flex;
            justify-content: space-between;
        
            h1 {
                font-size: 1.5rem;
            }
        
            .icons {
                display: flex;
                gap: 1.5em;
            }
        }
        
        #input-container {
            padding: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4em;
            flex-grow: 1;

            #wpm {
                min-height: 20px;
            }

        
            #text-container {
                max-width: 30em;
                min-height: 87px;
                user-select: none;
                font-size: 1.5em;
            }

            #reset-container {
                width: inherit;
                display: flex;
                flex-direction: row-reverse;
            }
        
            #input-field {
                z-index: -99;
                opacity: 0;
                position: absolute;
            }
        }
    }
}

.next-word {
    font-weight: bold;
}

.correct {
    color: $correct;
}

.incorrect {
    color: $incorrect;
    background-color: $incorrect-background;
}