:root {
  --background: #F5F5F5;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #3CC84A;
  --save-click: #64E071;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #FFAEAE;
  --caret: #292929;
}

.theme-light {
  --background: #F5F5F5;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #3CC84A;
  --save-click: #64E071;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #FFAEAE;
  --caret: #292929;
}

.theme-dark {
  --background: #263238;
  --background-settings: #37474F;
  --text: #FFFFFF;
  --untyped: #FFFFFF;
  --svg-hover: #E0E0E0;
  --svg-click: #F5F5F5;
  --save-hover: #3CC84A;
  --save-click: #64E071;
  --correct: #40D84F;
  --incorrect: #FF2222;
  --incorrect-background: #614147;
  --caret: #CFCFCF;
}

.theme-white {
  --background: #FFFFFF;
  --background-settings: #FFFFFF;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #3CC84A;
  --save-click: #64E071;
  --correct: #00FF00;
  --incorrect: #FF0000;
  --incorrect-background: #FFAEAE;
  --caret: #000000;
}

.theme-matrix {
  --background: #000000;
  --background-settings: #000000;
  --text: #00FF00;
  --untyped: #FFFFFF;
  --svg-hover: #6afc6a;
  --svg-click: #8dfc8d;
  --save-hover: #3CC84A;
  --save-click: #64E071;
  --correct: #00FF00;
  --incorrect: #FF0000;
  --incorrect-background: #3A0000;
  --caret: #00BB00;
}

.theme-pastel {
  --background: #F6D9D9;
  --background-settings: #F6E1E1;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #3393B8;
  --save-click: #308AAC;
  --correct: #3EABD4;
  --incorrect: #FF6961;
  --incorrect-background: #FFAEAE;
  --caret: #cb99c9;
}

.theme-nord-light {
  --background: #D8DEE9;
  --background-settings: #E5E9F0;
  --text: #000000;
  --untyped: #000000;
  --svg-hover: #212121;
  --svg-click: #424242;
  --save-hover: #9CB884;
  --save-click: #94B17C;
  --correct: #A3BE8C;
  --incorrect: #BF616A;
  --incorrect-background: #ECCDD9;
  --caret: #B48EAD;
}

.theme-nord-dark {
  --background: #2E3440;
  --background-settings: #3B4252;
  --text: #ECEff4;
  --untyped: #ECEff4;
  --svg-hover: #E5E9F0;
  --svg-click: #D8DEE9;
  --save-hover: #9CB884;
  --save-click: #94B17C;
  --correct: #A3BE8C;
  --incorrect: #BF616A;
  --incorrect-background: #4B3334;
  --caret: #B48EAD;
}

.theme-solarized-light {
  --background: #fdf6e3;
  --background-settings: #eee8d5;
  --text: #586e75;
  --untyped: #586e75;
  --svg-hover: #4A6168;
  --svg-click: #3C535A;
  --save-hover: #23978E;
  --save-click: #1E8D85;
  --correct: #2aa198;
  --incorrect: #dc322f;
  --incorrect-background: #FDE6E3;
  --caret: #859900;
}

.theme-solarized-dark {
  --background: #002b36;
  --background-settings: #073642;
  --text: #839496;
  --untyped: #839496;
  --svg-hover: #77888A;
  --svg-click: #6C7D7F;
  --save-hover: #768800;
  --save-click: #6D7E00;
  --correct: #859900;
  --incorrect: #dc322f;
  --incorrect-background: #360026;
  --caret: #2aa198;
}

.theme-dracula {
  --background: #282a36;
  --background-settings: #44475a;
  --text: #f8f8f2;
  --untyped: #f8f8f2;
  --svg-hover: #D8D8CE;
  --svg-click: #CCCCBF;
  --save-hover: #AD86E5;
  --save-click: #9773CA;
  --correct: #bd93f9;
  --incorrect: #ff5555;
  --incorrect-background: #360026;
  --caret: #8be9fd;
}

/*# sourceMappingURL=variables.css.map */
