:root {
    --background: #F5F5F5;
    --background-settings: #FFFFFF;
    --text: #000000;
    --untyped: #000000;
    --svg-hover: #212121;
    --svg-click: #424242;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #40D84F;
    --incorrect: #FF2222;
    --incorrect-background: #FFAEAE;
}

.theme-light {
    --background: #F5F5F5;
    --background-settings: #FFFFFF;
    --text: #000000;
    --untyped: #000000;
    --svg-hover: #212121;
    --svg-click: #424242;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #40D84F;
    --incorrect: #FF2222;
    --incorrect-background: #FFAEAE;
}

.theme-dark {
    --background: #263238;
    --background-settings: #37474F;
    --text: #FFFFFF;
    --untyped: #FFFFFF;
    --svg-hover: #E0E0E0;
    --svg-click: #F5F5F5;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #40D84F;
    --incorrect: #FF2222;
    --incorrect-background: #614147;
}

.theme-white {
    --background: #FFFFFF;
    --background-settings: #FFFFFF;
    --text: #000000;
    --untyped: #000000;
    --svg-hover: #212121;
    --svg-click: #424242;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #00FF00;
    --incorrect: #FF0000;
    --incorrect-background: #FFAEAE;
}

.theme-matrix {
    --background: #000000;
    --background-settings: #000000;
    --text: #00FF00;
    --untyped: #FFFFFF;
    --svg-hover: #6afc6a;
    --svg-click: #8dfc8d;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #00FF00;
    --incorrect: #FF0000;
    --incorrect-background: #3A0000;
}

.theme-pastel {
    --background: #F6D9D9;
    --background-settings: #F6E1E1;
    --text: #000000;
    --untyped: #000000;
    --svg-hover: #212121;
    --svg-click: #424242;
    --save-hover: #3CC84A;
    --save-click: #64E071;
    --correct: #3EABD4;
    --incorrect: #FF6961;
    --incorrect-background: #FFAEAE;
}